body {
	font-family: sans-serif;
	padding: 0 1rem;
	background-color: #ccc;

	.flashcards {
		.flashcard {
			background-color: #444;
			margin-bottom: 1rem;
			padding: 1rem;
			width: fit-content;
			border-radius: .5rem;

			.front {
				color: rgb(255, 255, 255);
				cursor: pointer;
			}

			.back {
				color: yellow;
				font-style: italic;
				margin-top: .5rem;
				display: none;
			}
		}
	}
}